
html {
	background-color: #F6F6F6;
}

body {
	width: 100%;
	margin: 0 auto;
}

/** mobile layout styles **/

@media (max-width: 320px) {

	.body {
		max-width: 320px;
		margin: 0px auto;
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif;
	}

	.main-header, 
	.profile,
	.portfolio {
	    font-family: 'Montserrat', sans-serif;
	}

	.main-header {
		text-align: center;
		margin: 0 auto;
		box-sizing: border-box;
		width: 100%;
		color: #3a3a3a;
	}

	.main-header li {
		list-style-position:  none;
		list-style-type: none;
		padding: 10px 5px;
		font-weight: bold;
		font-size: 0.8rem;
		background-color: white;
		margin: 5px 8px 0;
		text-transform: uppercase;
		border-radius: 2px;
	}

	.main-header ul {
		padding-left: 0;
		}

	.main-header h2 {
		color: #454545;
		margin-top: 15px;
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 1.5em;
	}

	.profile,
	.contact {
		margin-top: 40px;
		text-align: center;
		padding: 0 10px;
		max-width: 100%;
		color: #a2a2a2;
	}

	.profile-img { 
		width: 70%;
		margin-left: 0;
		margin-right: 0;
	}

	h3 {
		font-size: 1em;
	}

	.portfolio {
		color: #4d4d4d;
		max-width: 100%;
		margin-left: 0px;
		box-sizing: border-box;
		background-color: white;
		text-align: center;	
		padding: 30px 0 30px;
		font-size: 0.8rem;
	}

	.headings {
		font-weight: 500;
	}

	.portfolio img {
		margin-top: 25px;
		max-width: 90%;
	}

	.marketing p,
	.search p, 
	.travel p,
	.map p,
	.gallery p,
	.calculator p {
		padding-left: 20px;
		padding-right: 20px;
	}

	.contact,
	footer {
		color: #4d4d4d;
		font-family: 'Montserrat', sans-serif;
	}

	.contact ul li {
		list-style-type: none;
	}

	.contact ul {
		padding-left: 0;
		margin: auto;
	}

	.contact ul li a {
		text-decoration: none;
		color: #4d4d4d;
		font-size: 0.8em;
		font-weight: bold;
	}

	.contact h3 {
		padding-top: 20px;
		padding-bottom: 20px;
		text-transform: uppercase;
	}

	footer {
		width: 85%;
		margin: auto;
		border-top: 0.2px grey solid;
		margin-top: 20px;
	}

	footer h4 {
		display: inline-block;
		font-size: 0.8em;
	}

	#top {
		float: right;
		text-transform: uppercase;
	}
}