
html {
	background-color: #F6F6F6;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
		color: #daa520;
	}

/** mobile layout styles **/

/*@media (max-width: 320px) {*/

	.body {
		max-width: 320px;
		margin: 0px auto;
		box-sizing: border-box;
	}

	.main-header {
		text-align: center;
		margin: 0 auto;
		box-sizing: border-box;
		width: 100%;
		color: #3a3a3a;
	}

	.main-header li {
		list-style-position:  none;
		list-style-type: none;
		padding: 10px 5px;
		font-weight: bold;
		font-size: 0.8rem;
		background-color: white;
		margin: 5px 8px 0;
		text-transform: uppercase;
		border-radius: 2px;
	}

	.main-header a,
	.main-header a:visited,
	#back, #back:visited {
		color: #3a3a3a;
	}


	.main-header ul {
		padding-left: 0;
		}

	.main-header h2 {
		color: #454545;
		padding: 10px 0 10px;
		margin: 15px 0 15px;
		font-weight: 700;
		font-size: 1.5em;
	}

	.profile,
	.contact {
		margin-top: 40px;
		text-align: center;
		padding: 0 10px;
		max-width: 100%;
		color: #a2a2a2;
	}

	.profile-img { 
		width: 70%;
		margin-left: 0;
		margin-right: 0;
	}

	h3 {
		font-size: 1em;
	}

	.portfolio {
		color: #4d4d4d;
		max-width: 100%;
		margin-left: 0px;
		box-sizing: border-box;
		background-color: white;
		text-align: center;	
		padding: 30px 0 30px;
		font-size: 0.8rem;
	}

	.headings {
		font-weight: 600;
	}

	.portfolio img {
		margin-top: 25px;
		max-width: 90%;
	}

	.marketing p,
	.search p, 
	.travel p,
	.map p,
	.gallery p,
	.calculator p {
		padding-left: 20px;
		padding-right: 20px;
	}

	.contact,
	#mobile-footer {
		color: #4d4d4d;
	}

	.contact ul li {
		list-style-type: none;
	}

	.contact ul {
		padding-left: 0;
		margin: auto;
	}

	.contact ul li a,
	.contact ul li a:visited {
		text-decoration: none;
		color: #4d4d4d;
		font-size: 0.8em;
		font-weight: bold;
	}

	.contact p {
		padding-bottom: 20px;
		line-height: 20px;
	}

	.contact h3 {
		padding-top: 20px;
		padding-bottom: 20px;
		text-transform: uppercase;
	}

	#mobile-footer {
		width: 85%;
		margin: auto;
		border-top: 0.2px grey solid;
		margin-top: 40px;
	}

	#mobile-footer h4,
	#mobile-footer a {
		display: inline-block;
		font-size: 0.8em;
	}

	#back {
		position: relative;	
		text-transform: uppercase;
		padding-left: 105px;
	}

@media (max-width: 767px) {
	footer {
		display: none;
	}
}


/*********************

 media of at least 768px 

 ********************/



@media (min-width: 768px) {

	.main-header a:hover {
		color: #daa520;
	}

	.main-header {
		background-color: white;
		padding-bottom: 30px;
	}

	.main-header h2 {
		padding-top: 30px;
		margin: 0;
	}

	.main-header li {
		display: inline-block;
		margin: 0;

	}

	.main-header ul {
		margin: 0px;
	}

	.profile {
		margin-top: 0;
		text-align: left;
		padding: 5px 20px 30px 20px;
	}

	.profile-img {
		max-width: 40%;
		float: right;
		margin: auto;
		position: relative;
		top: 15px;
		padding-left: 5px;
	}

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

	.portfolio div {
		max-width: 47%;
		display: inline-block;
		vertical-align: top;
	}

	.contact {
		padding-bottom: 40px;
	}

	.contact p {
		padding: 0 18% 20px;
	}

	#mobile-footer {
		display: none;
	}

	footer {
		border-top: 1px solid rgba(169, 169, 169, .4);
	}


	footer li {
		display: inline-block;
		list-style: none;
		float: left;
		padding-top: 20px;
		padding-bottom: 40px;
		padding-left: 15px;
	}

	footer a,
	footer a:visited {
		color: #3a3a3a;
	}

	footer a:hover {
		color: #daa520;
	}

	#student-name {
		text-align: left;
		padding-right: 45%;
	}
}